### TRAINING THE LPG-MODEL:

In [28]:
#.......................................................LPG Training.....................................................#

import os
import time
import joblib
import warnings
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix  
from sklearn.metrics import classification_report 
warnings.filterwarnings(action = 'ignore')
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
LPG_DF = pd.read_csv("./LPG_Data1.csv") #Reads the csv file
LPG_DF.fillna(LPG_DF.mean(), inplace=True)

In [30]:
LPG_DF

       CUSTOMER_ID   MEMBERS  LPG_RESULT
0        25.503243  4.484582   28.606016
1        26.000000  6.000000   36.000000
2        25.503243  4.484582   28.606016
3         7.000000  5.000000   28.000000
4        25.503243  4.484582   28.606016
...            ...       ...         ...
50261    40.000000  7.000000   26.000000
50262    25.503243  4.484582   28.606016
50263     6.000000  1.000000   22.000000
50264    25.503243  4.484582   28.606016
50265    36.000000  7.000000   34.000000

[50266 rows x 3 columns]

In [31]:
LPG_DF.shape #Return a tuple representing the dimensionality of the DataFrame.

(50266, 3)

In [32]:
LPG_DF.info() #The info() method prints information about the DataFrame. 
#The information contains the number of columns, column labels, column data types, memory usage, range index,
#and the number of cells in each column (non-null values).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50266 entries, 0 to 50265
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTOMER_ID  50266 non-null  float64
 1   MEMBERS      50266 non-null  float64
 2   LPG_RESULT   50266 non-null  float64
dtypes: float64(3)
memory usage: 1.2 MB

In [33]:
LPG_DF.describe() #The describe() method returns description of the data in the DataFrame. 
#If the DataFrame contains numerical data, the description contains these information for each column: 
#count - The number of not-empty values. mean - The average (mean) value. std - The standard deviation.

        CUSTOMER_ID       MEMBERS    LPG_RESULT
count  50266.000000  50266.000000  50266.000000
mean      25.503243      4.484582     28.606016
std       10.183900      1.628267      6.951061
min        1.000000      1.000000     12.000000
25%       25.000000      4.000000     28.606016
50%       25.503243      4.484582     28.606016
75%       25.503243      4.484582     29.000000
max       50.000000      8.000000     45.000000

In [34]:
LPG_DF.tail(50) #This function returns last n rows from the object based on position.
#It is useful for quickly verifying data, for example, after sorting or appending rows.

       CUSTOMER_ID   MEMBERS  LPG_RESULT
50216    25.503243  4.484582   28.606016
50217    28.000000  1.000000   39.000000
50218    25.503243  4.484582   28.606016
50219    48.000000  5.000000   37.000000
50220    25.503243  4.484582   28.606016
50221    44.000000  6.000000   28.000000
50222    25.503243  4.484582   28.606016
50223    29.000000  3.000000   40.000000
50224    25.503243  4.484582   28.606016
50225    16.000000  8.000000   37.000000
50226    25.503243  4.484582   28.606016
50227    46.000000  8.000000   31.000000
50228    25.503243  4.484582   28.606016
50229    49.000000  6.000000   18.000000
50230    25.503243  4.484582   28.606016
50231    41.000000  3.000000   25.000000
50232    25.503243  4.484582   28.606016
50233    16.000000  6.000000   17.000000
50234    25.503243  4.484582   28.606016
50235    34.000000  3.000000   21.000000
50236    25.503243  4.484582   28.606016
50237    37.000000  8.000000   34.000000
50238    25.503243  4.484582   28.606016
50239    37.000000  4.000000   39.000000
50240    25.503243  4.484582   28.606016
50241    27.000000  1.000000   37.000000
50242    25.503243  4.484582   28.606016
50243    23.000000  7.000000   31.000000
50244    25.503243  4.484582   28.606016
50245     9.000000  6.000000   41.000000
50246    25.503243  4.484582   28.606016
50247     6.000000  2.000000   35.000000
50248    25.503243  4.484582   28.606016
50249    30.000000  4.000000   31.000000
50250    25.503243  4.484582   28.606016
50251    29.000000  3.000000   38.000000
50252    25.503243  4.484582   28.606016
50253    15.000000  2.000000   13.000000
50254    25.503243  4.484582   28.606016
50255     1.000000  4.000000   44.000000
50256    25.503243  4.484582   28.606016
50257    23.000000  5.000000   24.000000
50258    25.503243  4.484582   28.606016
50259    18.000000  6.000000   35.000000
50260    25.503243  4.484582   28.606016
50261    40.000000  7.000000   26.000000
50262    25.503243  4.484582   28.606016
50263     6.000000  1.000000   22.000000
50264    25.503243  4.484582   28.606016
50265    36.000000  7.000000   34.000000

In [35]:
LPG_DF.head(180) #This function returns the first n rows for the object based on position. 
#It is useful for quickly testing if your object has the right type of data in it

     CUSTOMER_ID   MEMBERS  LPG_RESULT
0      25.503243  4.484582   28.606016
1      26.000000  6.000000   36.000000
2      25.503243  4.484582   28.606016
3       7.000000  5.000000   28.000000
4      25.503243  4.484582   28.606016
..           ...       ...         ...
175    28.000000  4.000000   33.000000
176    25.503243  4.484582   28.606016
177    26.000000  7.000000   22.000000
178    25.503243  4.484582   28.606016
179     5.000000  3.000000   34.000000

[180 rows x 3 columns]

In [36]:
LPG_DF['CUSTOMER_ID'].unique() #Uniques are returned in order of appearance. This does NOT sort.

#Significantly faster than numpy.unique for long enough sequences. Includes NA values.

array([25.50324275, 26.        ,  7.        , 43.        , 23.        ,
       25.        , 44.        ,  9.        , 17.        ,  3.        ,
       46.        , 19.        ,  4.        , 36.        , 27.        ,
        5.        , 33.        , 29.        , 32.        , 21.        ,
       45.        , 12.        , 28.        , 34.        , 22.        ,
       30.        ,  1.        , 15.        , 20.        , 39.        ,
       48.        ,  2.        , 24.        ,  8.        , 11.        ,
       10.        , 50.        , 13.        , 14.        , 18.        ,
       47.        , 35.        , 37.        , 49.        , 40.        ,
        6.        , 41.        , 16.        , 31.        , 38.        ,
       42.        ])

In [37]:
y = LPG_DF['LPG_RESULT'].values  #Only the values in the DataFrame will be returned, the axes labels will be removed.
X = LPG_DF.drop('LPG_RESULT', axis=1).values #Remove rows or columns by specifying label names and corresponding axis, 
#or by specifying directly index or column names.

In [38]:
XTrain,XTest,YTrain,YTest=train_test_split(X,y,test_size=.3) 
#Split arrays or matrices into random train and test subsets.
#sklearn.model_selection.train_test_split (*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
#If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split.Here we test 30% of data.

In [39]:
XTrain

array([[25.50324275,  4.48458202],
       [32.        ,  7.        ],
       [49.        ,  5.        ],
       ...,
       [25.50324275,  4.48458202],
       [25.50324275,  4.48458202],
       [25.50324275,  4.48458202]])

In [40]:
knn = KNeighborsClassifier(n_neighbors=6)

In [41]:
knn.fit(XTrain,YTrain)

ValueError: Unknown label type: 'continuous'

In [ ]:
y_pred = knn.predict(XTest)
print("Prediction : {}".format(y_pred))

In [ ]:
print(knn.predict([[2,40]]))

In [ ]:
print("LPG_Model Accuracy:",metrics.accuracy_score(YTest, y_pred)*100)

In [ ]:
joblib.dump(knn,'LPG_model.pkl')

In [ ]:
results = confusion_matrix(YTest, y_pred) 
print('Confusion Matrix :')
print(results)
print('Accuracy Score :',accuracy_score(YTest, y_pred))
print('Report :')
print(classification_report(YTest, y_pred))

In [ ]:
LPG_DF.columns

In [ ]:
X1 = LPG_DF[['CUSTOMER_ID', 'MEMBERS']]
y1 = LPG_DF['LPG_RESULT']

In [ ]:
XTrain,XTest,YTrain,YTest=train_test_split(X1,y1,test_size=.3)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(XTrain,YTrain)

In [ ]:
p=lr.predict(XTest)

In [ ]:
p

In [ ]:
print(lr.intercept_)

In [ ]:
lr.coef_

In [ ]:
y_pred = lr.predict(XTest)
print("Prediction : {}".format(y_pred))

In [ ]:
plt.scatter(YTest,y_pred)

In [ ]:
from sklearn import metrics

In [ ]:
print('MAE:', metrics.mean_absolute_error(YTest, y_pred))
print('MSE:', metrics.mean_squared_error(YTest, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(YTest, y_pred)))

In [ ]:
r2_score = lr.score(XTest,YTest)
print(r2_score*100,'%')

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(XTrain, YTrain)

In [ ]:
p=regressor.predict(XTest)

In [ ]:
p

In [ ]:
regressor.predict([[2,6]])

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Ridge

In [ ]:

# define model
model = Ridge(alpha=1.0)
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, XTrain, YTrain, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force scores to be positive
scores = np.absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

In [ ]:
model.fit(XTrain, YTrain)
p=model.predict(XTest)

In [ ]:
p

In [ ]:
model.predict([[2,6]])

In [ ]:
plt.scatter(YTest,p)

In [ ]:
#import required packages
from sklearn import neighbors
from sklearn.metrics import mean_squared_error 
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
rmse_val = [] #to store rmse values for different k
for K in range(20):
    K = K+1
    model = neighbors.KNeighborsRegressor(n_neighbors = K)

    model.fit(XTrain, YTrain)  #fit the model
    pred=model.predict(XTest) #make prediction on test set
    error = sqrt(mean_squared_error(YTest,pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , K , 'is:', error)

In [ ]:
def LPG_MODEL(LPG_ID):    
    knn = joblib.load('LPG_model.pkl')
    x_new = LPG_ID
    new_pred = knn.predict([x_new])
    f = open("output.txt","w")
    f.write(str(new_pred))
    f.close()
    current_date = time.asctime()
    print("LPG_TEST: START DAY- {} Refill after {}".format(current_date,new_pred))
    f1 = open("LPG_RESULT.txt","w")
    f1.write("LPG_TEST: START DAY- {} Refill after {}".format(current_date,str(new_pred)))
    f1.close()

In [ ]:
l=[3,4]
LPG_MODEL(l)

In [ ]:
l=[3,7]
LPG_MODEL(l)

In [ ]:
l=[5,2]
LPG_MODEL(l)

In [ ]:
l=[5,9]
LPG_MODEL(l)